<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7uPYMwpwJq4-klB8F0nsjHXszbz3oFCU</string>
	<key>GCM_SENDER_ID</key>
	<string>247893223873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regiment.regiment8112</string>
	<key>PROJECT_ID</key>
	<string>regiment-project-8112</string>
	<key>STORAGE_BUCKET</key>
	<string>regiment-project-8112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247893223873:ios:68f04897444e1cac596740</string>
</dict>
</plist>