<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898801329724-d97fe82f14v52jgpq157g3k1j5ml2brd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898801329724-d97fe82f14v52jgpq157g3k1j5ml2brd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898801329724-kf1ipelbvcq9l26i4286csocpoj8hopr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVHQzqlNboZFwRAGAnWSQ_WcMjtm7mSjI</string>
	<key>GCM_SENDER_ID</key>
	<string>898801329724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mesayahat.regiment8112</string>
	<key>PROJECT_ID</key>
	<string>regiment-8112-2748f</string>
	<key>STORAGE_BUCKET</key>
	<string>regiment-8112-2748f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:898801329724:ios:90b6ec613e9abc90b5c539</string>
</dict>
</plist>
